In [1]:
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
from datetime import datetime

In [3]:
import pandas as pd
import pandas_datareader.data as web

In [4]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [5]:
df = pd.read_csv("County_MedianSoldPrice_AllHomes.csv", parse_dates=True, infer_datetime_format=True)

In [6]:
df

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,1996-04,1996-05,1996-06,...,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06
0,3101,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,6,37,1,162225.0000,162925.0000,164500.0,...,506000.0000,501200.00,497550.00,503600.00,506400.00,503950.00,513550.00,523750.00,528750.0000,534650.00
1,139,Cook,IL,Chicago,17,31,2,127300.0000,131425.0000,134975.0,...,249000.0000,237250.00,224050.00,219950.00,213400.00,209810.00,221690.00,238625.00,251825.0000,256300.00
2,2402,Maricopa,AZ,Phoenix,4,13,3,105493.8500,104211.6500,105300.0,...,220000.0000,220000.00,218350.00,220345.00,221804.00,221324.30,222874.70,226250.00,231400.0000,234350.00
3,2841,San Diego,CA,San Diego,6,73,4,158225.0000,158125.0000,158925.0,...,479125.0000,471125.00,476500.00,481000.00,483300.00,475500.00,481250.00,496700.00,499500.0000,499250.00
4,1286,Orange,CA,Los Angeles-Long Beach-Anaheim,6,59,5,191525.0000,197550.0000,197875.0,...,613025.0000,603250.00,607250.00,611000.00,609300.00,603700.00,612500.00,628225.00,637025.0000,648150.00
5,581,Kings,NY,New York,36,47,6,163000.0000,168075.0000,167675.0,...,578750.0000,575250.00,554500.00,556700.00,580800.00,572000.00,558600.00,557650.00,570250.0000,617749.50
6,2964,Miami-Dade,FL,Miami-Fort Lauderdale,12,86,7,105650.0000,103600.0000,103600.0,...,249630.0000,247020.00,243250.00,250250.00,251650.00,251350.00,252500.00,259250.00,262000.0000,268950.00
7,978,Dallas,TX,Dallas-Fort Worth,48,113,8,NaN,NaN,NaN,...,180674.9000,176816.45,177726.30,181120.75,176044.75,179021.50,186892.80,192084.65,199929.2000,215241.85
8,1347,Queens,NY,New York,36,81,9,157750.0000,155950.0000,152450.0,...,370300.0000,376785.00,384265.00,381000.00,389750.00,385250.00,367800.00,367050.00,383900.0000,431250.00
9,2832,Riverside,CA,Riverside,6,65,10,114550.0000,112500.0000,115000.0,...,313250.0000,309750.00,308050.00,313325.00,312775.00,313850.00,319250.00,326000.00,324250.0000,326500.00
10,3250,San Bernardino,CA,Riverside,6,71,11,100250.0000,101700.0000,103450.0,...,270750.0000,271050.00,270400.00,272800.00,264250.00,268000.00,274500.00,274250.00,276500.0000,278500.00
11,445,Clark,NV,Las Vegas,32,3,12,116575.0000,116650.0000,117850.0,...,215550.0000,210975.00,209155.00,205520.00,202400.00,204450.00,202800.00,206200.00,211000.0000,206750.00
12,207,King,WA,Seattle,53,33,13,158375.0000,160982.5000,162642.5,...,424025.0000,418225.00,424250.00,428975.00,421525.00,426200.00,438050.00,447050.00,459700.0000,476975.00
13,791,Wayne,MI,Detroit,26,163,14,91150.0000,96350.0000,97615.0,...,129235.0000,126500.00,122500.00,118100.00,112145.00,112505.00,113950.00,117500.00,124250.0000,NaN
14,2049,Tarrant,TX,Dallas-Fort Worth,48,439,15,NaN,NaN,NaN,...,177124.2000,175045.65,173769.50,175211.85,174134.25,175682.25,178633.75,183639.80,187545.6500,194322.95
15,3136,Santa Clara,CA,San Jose,6,85,16,234325.0000,238575.0000,238875.0,...,848250.0000,832250.00,828000.00,816000.00,789250.00,803850.00,842900.00,885750.00,907250.0000,909250.00
16,1561,Broward,FL,Miami-Fort Lauderdale,12,11,17,84070.0000,84830.0000,86550.0,...,225000.0000,220000.00,209000.00,208500.00,208375.00,205175.00,209050.00,214150.00,223375.0000,233125.00
17,2452,New York,NY,New York,36,61,18,270382.3529,269925.0000,248750.0,...,857285.0000,841451.50,815455.55,827730.95,841750.00,865000.00,858000.00,847750.00,845750.0000,898500.00
18,3175,Philadelphia,PA,Philadelphia,42,101,19,52185.0000,53100.0000,54175.0,...,159950.0000,156700.00,148100.00,142250.00,144950.00,150915.00,150200.00,152185.00,158200.0000,NaN
19,1510,Alameda,CA,San Francisco,6,1,20,196275.0000,196900.0000,202225.0,...,646950.0000,643600.00,646500.00,647450.00,641700.00,636975.00,640075.00,663500.00,692000.0000,696600.00
20,2801,Middlesex,MA,Boston,25,17,21,159900.0000,164325.0000,171625.0,...,398925.0000,367725.00,399100.00,385450.00,388335.00,343980.00,323485.00,369000.00,397350.0000,NaN
21,2046,Suffolk,NY,New York,36,103,22,147123.0769,135518.8235,134239.0,...,388250.0000,381450.00,382375.00,383425.00,382500.00,378250.00,372000.00,357375.00,365875.0000,NaN
22,3017,Sacramento,CA,Sacramento,6,67,23,120425.0000,121675.0000,122175.0,...,282500.0000,281750.00,278750.00,281100.00,279650.00,283200.00,287750.00,292575.00,299475.0000,306000.00
23,401,Bronx,NY,New York,36,5,24,149125.0000,156550.0000,160200.0,...,281250.0000,289000.00,313500.00,291134.00,298443.80,299440.20,315750.00,267691.00,262318.7000,276222.30
24,1252,Nassau,NY,New York,36,59,25,NaN,NaN,NaN,...,480725.0000,470325.00,452750.00,453500.00,450375.00,445125.00,445750.00,446000.00,462750.0000,474400.00
25,2993,Palm Beach,FL,Miami-Fort Lauderdale,12,99,26,100785.0000,102515.0000,109250.0,...,223500.0000,217950.00,217800.00,221750.00,219250.00,217250.00,222025.00,229775.00,240900.0000,247315.00
26,2241,Cuyahoga,OH,Cleveland,39,35,27,93525.0000,93350.0000,99275.0,...,128750.0000,125525.00,118737.50,117687.50,118350.00,121675.00,122075.00,125875.00,132550.0000,150225.00
27,3165,Hillsborough,FL,Tampa,12,57,28,82375.0000,80510.0000,82450.0,...,187915.0000,183185.00,181715.00,182185.00,181350.00,182950.00,187250.00,192100.00,196850.0000,204215.00
28,2614,Allegheny,PA,Pittsburgh,42,3,29,74300.0000,73950.0000,74896.5,...,145616.9500,138800.00,135579.00,139265.80,137993.20,138765.00,141200.00,148385.00,155000.0000,151200.00
29,1950,Oakland,MI,Detroit,26,125,30,130800.0000,131750.0000,137650.0,...,204750.0000,198250.00,195750.00,194000.00,192350.00,187935.00,190635.00,198380.00,204500.0000,217200.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1767,1041,Gilpin,CO,Denver,8,47,1768,NaN,NaN,NaN,...,295725.0000,293825.00,269825.00,NaN,NaN,NaN,295000.00,NaN,NaN,NaN
1768,291,Polk,NE,NaN,31,143,1769,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1769,707,Scott,IL,Jacksonville,17,171,1770,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1770,2630,Big Stone,MN,NaN,27,11,1771,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74100.00,NaN,NaN,NaN,NaN,NaN
1771,1429,Thayer,NE,NaN,31,169,1772,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1772,458,Craig,VA,Roanoke,51,45,1773,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1773,140,Cook,MN,NaN,27,31,1774,NaN,NaN,NaN,...,254842.7692,NaN,NaN,NaN,NaN,NaN,NaN,228000.00,NaN,NaN
1774,1584,Cameron,PA,NaN,42,23,1775,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1775,1939,Morrill,NE,NaN,31,123,1776,NaN,NaN,NaN,...,45120.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1776,1027,Furnas,NE,NaN,31,65,1777,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777,2321,Hamilton,NY,NaN,36,41,1778,NaN,NaN,NaN,...,NaN,140000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1778,3049,Washington,CO,NaN,8,121,1779,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1779,478,Dewey,OK,NaN,40,43,1780,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1780,96,Bath,VA,NaN,51,17,1781,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1781,2459,Nuckolls,NE,NaN,31,129,1782,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1782,2476,Phillips,CO,NaN,8,95,1783,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1783,665,Ouray,CO,NaN,8,91,1784,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,320100.00,330923.5294,NaN
1784,2798,Menominee,WI,Shawano,55,78,1785,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1785,497,Ellis,OK,NaN,40,45,1786,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1786,2217,Columbia,WA,Walla Walla,53,13,1787,NaN,NaN,NaN,...,90000.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1787,1402,Storey,NV,Reno,32,29,1788,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,1839,Kimball,NE,NaN,31,105,1789,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,653,Nance,NE,NaN,31,125,1790,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1790,2580,Traverse,MN,NaN,27,155,1791,NaN,NaN,NaN,...,45000.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1791,1084,Harlan,NE,NaN,31,83,1792,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1792,1391,Sierra,CA,NaN,6,91,1793,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1793,2286,Franklin,NE,NaN,31,61,1794,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1794,1988,Quitman,GA,NaN,13,239,1795,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1795,1046,Gosper,NE,Lexington,31,73,1796,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1796,828,Alpine,CA,NaN,6,3,1797,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
sc = df.loc[df['RegionName'] == 'Santa Clara'].set_index("RegionName")

In [8]:
sc.transpose()

RegionName        Santa Clara
RegionID                 3136
State                      CA
Metro                San Jose
StateCodeFIPS               6
MunicipalCodeFIPS          85
SizeRank                   16
1996-04                234325
1996-05                238575
1996-06                238875
1996-07                241875
1996-08                241200
1996-09                242075
1996-10                240225
1996-11                239675
1996-12                239600
1997-01                244425
1997-02                248150
1997-03                249850
1997-04                252750
1997-05                254925
1997-06                255425
1997-07                257650
1997-08                259250
1997-09                260500
1997-10                260350
1997-11                263650
1997-12                267450
1998-01                269550
1998-02                270000
1998-03                276000
...                       ...
2014-01                659500
2014-02                668500
2014-03                709200
2014-04                746350
2014-05                755500
2014-06                761250
2014-07                753875
2014-08                745950
2014-09                743250
2014-10                741250
2014-11                740400
2014-12                732350
2015-01                709750
2015-02                711750
2015-03                741050
2015-04                778100
2015-05                808200
2015-06                822150
2015-07                843025
2015-08                852475
2015-09                848250
2015-10                832250
2015-11                828000
2015-12                816000
2016-01                789250
2016-02                803850
2016-03                842900
2016-04                885750
2016-05                907250
2016-06                909250

[249 rows x 1 columns]

In [9]:
sc2 = sc.drop(sc.columns[[0, 1, 2, 3, 4, 5, 6]], axis=1)

In [10]:
sc2

,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,1997-02,...,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06
RegionName,,,,,,,,,,,,,,,,,,,,,
Santa Clara,238575.0,238875.0,241875.0,241200.0,242075.0,240225.0,239675.0,239600.0,244425.0,248150.0,...,848250.0,832250.0,828000.0,816000.0,789250.0,803850.0,842900.0,885750.0,907250.0,909250.0

In [11]:
sc2.transpose()

RegionName  Santa Clara
1996-05        238575.0
1996-06        238875.0
1996-07        241875.0
1996-08        241200.0
1996-09        242075.0
1996-10        240225.0
1996-11        239675.0
1996-12        239600.0
1997-01        244425.0
1997-02        248150.0
1997-03        249850.0
1997-04        252750.0
1997-05        254925.0
1997-06        255425.0
1997-07        257650.0
1997-08        259250.0
1997-09        260500.0
1997-10        260350.0
1997-11        263650.0
1997-12        267450.0
1998-01        269550.0
1998-02        270000.0
1998-03        276000.0
1998-04        284200.0
1998-05        296300.0
1998-06        300750.0
1998-07        296100.0
1998-08        296650.0
1998-09        296000.0
1998-10        295750.0
...                 ...
2014-01        659500.0
2014-02        668500.0
2014-03        709200.0
2014-04        746350.0
2014-05        755500.0
2014-06        761250.0
2014-07        753875.0
2014-08        745950.0
2014-09        743250.0
2014-10        741250.0
2014-11        740400.0
2014-12        732350.0
2015-01        709750.0
2015-02        711750.0
2015-03        741050.0
2015-04        778100.0
2015-05        808200.0
2015-06        822150.0
2015-07        843025.0
2015-08        852475.0
2015-09        848250.0
2015-10        832250.0
2015-11        828000.0
2015-12        816000.0
2016-01        789250.0
2016-02        803850.0
2016-03        842900.0
2016-04        885750.0
2016-05        907250.0
2016-06        909250.0

[242 rows x 1 columns]

In [12]:
sc3 = sc2.rename(columns = lambda x: pd.to_datetime(x)).transpose().rename(columns = {15: "MedianPrice"})

In [13]:
sc3

RegionName  Santa Clara
1996-05-01     238575.0
1996-06-01     238875.0
1996-07-01     241875.0
1996-08-01     241200.0
1996-09-01     242075.0
1996-10-01     240225.0
1996-11-01     239675.0
1996-12-01     239600.0
1997-01-01     244425.0
1997-02-01     248150.0
1997-03-01     249850.0
1997-04-01     252750.0
1997-05-01     254925.0
1997-06-01     255425.0
1997-07-01     257650.0
1997-08-01     259250.0
1997-09-01     260500.0
1997-10-01     260350.0
1997-11-01     263650.0
1997-12-01     267450.0
1998-01-01     269550.0
1998-02-01     270000.0
1998-03-01     276000.0
1998-04-01     284200.0
1998-05-01     296300.0
1998-06-01     300750.0
1998-07-01     296100.0
1998-08-01     296650.0
1998-09-01     296000.0
1998-10-01     295750.0
...                 ...
2014-01-01     659500.0
2014-02-01     668500.0
2014-03-01     709200.0
2014-04-01     746350.0
2014-05-01     755500.0
2014-06-01     761250.0
2014-07-01     753875.0
2014-08-01     745950.0
2014-09-01     743250.0
2014-10-01     741250.0
2014-11-01     740400.0
2014-12-01     732350.0
2015-01-01     709750.0
2015-02-01     711750.0
2015-03-01     741050.0
2015-04-01     778100.0
2015-05-01     808200.0
2015-06-01     822150.0
2015-07-01     843025.0
2015-08-01     852475.0
2015-09-01     848250.0
2015-10-01     832250.0
2015-11-01     828000.0
2015-12-01     816000.0
2016-01-01     789250.0
2016-02-01     803850.0
2016-03-01     842900.0
2016-04-01     885750.0
2016-05-01     907250.0
2016-06-01     909250.0

[242 rows x 1 columns]

In [14]:
def ToCountyDataFrame(df, county_name):
    s = df.loc[df['RegionName'] == county_name] \
             .set_index("RegionName") \
             .drop(sc.columns[[0, 1, 2, 3, 4, 5, 6]], axis=1) \
             .rename(columns = lambda x: pd.to_datetime(x)) \
             .transpose()
    s.columns = ['Price']
    return s

In [15]:
hoo = ToCountyDataFrame(df, "Santa Clara")

In [16]:
hoo

               Price
1996-05-01  238575.0
1996-06-01  238875.0
1996-07-01  241875.0
1996-08-01  241200.0
1996-09-01  242075.0
1996-10-01  240225.0
1996-11-01  239675.0
1996-12-01  239600.0
1997-01-01  244425.0
1997-02-01  248150.0
1997-03-01  249850.0
1997-04-01  252750.0
1997-05-01  254925.0
1997-06-01  255425.0
1997-07-01  257650.0
1997-08-01  259250.0
1997-09-01  260500.0
1997-10-01  260350.0
1997-11-01  263650.0
1997-12-01  267450.0
1998-01-01  269550.0
1998-02-01  270000.0
1998-03-01  276000.0
1998-04-01  284200.0
1998-05-01  296300.0
1998-06-01  300750.0
1998-07-01  296100.0
1998-08-01  296650.0
1998-09-01  296000.0
1998-10-01  295750.0
...              ...
2014-01-01  659500.0
2014-02-01  668500.0
2014-03-01  709200.0
2014-04-01  746350.0
2014-05-01  755500.0
2014-06-01  761250.0
2014-07-01  753875.0
2014-08-01  745950.0
2014-09-01  743250.0
2014-10-01  741250.0
2014-11-01  740400.0
2014-12-01  732350.0
2015-01-01  709750.0
2015-02-01  711750.0
2015-03-01  741050.0
2015-04-01  778100.0
2015-05-01  808200.0
2015-06-01  822150.0
2015-07-01  843025.0
2015-08-01  852475.0
2015-09-01  848250.0
2015-10-01  832250.0
2015-11-01  828000.0
2015-12-01  816000.0
2016-01-01  789250.0
2016-02-01  803850.0
2016-03-01  842900.0
2016-04-01  885750.0
2016-05-01  907250.0
2016-06-01  909250.0

[242 rows x 1 columns]

In [17]:
data = [go.Scatter(x=hoo.index, y=hoo.Price)]

In [18]:
iplot(data)